CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
CONFIG_PACKAGE_appfilter=y
# CONFIG_PACKAGE_boost-chrono is not set
# CONFIG_PACKAGE_boost-random is not set
# CONFIG_PACKAGE_icu is not set
CONFIG_PACKAGE_kmod-oaf=y
# CONFIG_PACKAGE_libdb47 is not set
# CONFIG_PACKAGE_libdouble-conversion is not set
# CONFIG_PACKAGE_libffi is not set
